@{
    Layout = null;
    var cookie = Request.Cookies["saticibilgi"];
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!--  Meta  -->
    <meta charset="UTF-8" />
    <title>Smooth navigation</title>
    <link href="~/Content/css/stylev.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!--  Styles  -->
    <link rel="stylesheet" href="~/Content/css/sty.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="selfregistration-body" style=" background: #2d2d7f !important;height:900px!important;">
    <header class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg main-nav px-0">
                <a class="navbar-brand" href="/cantahome/home">
                    <img src="http://rajeshdas.com/assets/images/logo.svg" alt="rajeshdas.com">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav ml-auto text-uppercase f1">
                        <li>
                            <a href="/cantahome/home" class="active active-first">Anasayfa</a>
                        </li>
                        <li>
                            <a href="/cantahome/siparis">Sipariş Takibi</a>
                        </li>
                        <li>
                            <a href="/cantahome/hizmetim">hizmetim</a>
                        </li>
                       

                    </ul>
                </div>
            </nav>
        </div>
        <!-- /.container -->
    </header>

    <div class="kacontainer" style="height:900px!important">
        <div class="formaltı" >
            <div class="well well-default mt-48 well-responsive px-md-25">
                <a class="yeniadres2" style=" float: left;" href="/canta/cikisyap" id="myBtn">Çıkış yap</a>
                <h4 class="mb-20 mt-40 fw-700">Dükkan Bilgileri </h4>
                <div class="row-my-10">
                    <div class="col-md-44">
                        <div class="form-group apply-pr">

                            <h5 class="mb-20 mt-40 fw-700">@cookie["ad"]  </h5>

                        </div>
                    </div>

                    <div class="col-md-44">
                        <div class="form-group apply-pr">
                            <h5 class="mb-20 mt-40 fw-700"> @cookie["tel"] </h5>
                        </div>
                    </div>

                    <div class="col-md-44">
                        <div class="form-group apply-pr">

                            <h5 class="mb-20 mt-40 fw-700"> @cookie["email"] </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Scripts -->
        <script src="scripts/index.js"></script>
    <script>
       
    </script>
</body>

</html>