
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="~/Content/css/stylev.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <title>Tamircicantam</title>
</head>
<body class="Login-page">
    <div class="Login-page">
        <div id="loginPage" class="login-container">
            <div class="login-content">
                <div class="login-center">
                    <form name="form" method="post">
                        <div class="rowsv2">
                            <div class="col-md-122">
                                <div class="form-cantam" id="Usarnamefield">
                                    <input type="text" autofocus class="form-control-cantam" maxlength="100" id="Rkulad" name="Rkulad" />
                                    <label for="usarname" class="form-control-placeholder">Kullancı adı </label>

                                </div>
                            </div>
                        </div>
                        <div class="rowsv2">
                            <div class="col-md-122">
                                <div class="form-cantam" id="Usarnamefield">
                                    <input type="password" autofocus class="form-control-cantam" maxlength="100" id="Rsifre" name="Rsifre"/>
                                    <label for="usarname" class="form-control-placeholder"> Sifre </label>

                                </div>
                            </div>
                        </div>
                        <div class="rowsv2">
                            <div class="col-md-122">
                                <div class="form-cantam" id="Usarnamefield">
                                    <button type="submit" name="button" value="login" class="btn-material btn-green full-button text-white">GİRİŞ YAP </button>

                                </div>
                            </div>
                        </div>
                        <div class="rowsv2">
                            <div class="col-md-122">
                                <div class="form-cantam" id="Usarnamefield">
                                    <a href="/canta/kayitol" class="btn-material btn-orange-outline full-button">Yeni Dükkan kayıt</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     
    </div>

</body>
</html>
